.main-post__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 62.4%;
}

.main-post-section-wrapper {
    background: url("../img/bg-white.png");
    border-radius: 5px;
    height: 250px;
}

.main-post__info {
    padding: 6px 18px;
    font-size: 11px;
    position: relative;
}

.infotable {
    margin-bottom: 15px;
    margin-top: 15px;
}

.main-post__title {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.main-post__title_orig {
    font-size: 12px;
    font-weight: normal;
}

.infotable__header {
    font-weight: bold;
    padding-right: 15px;
}

.infotable__header_plot {
    font-size: 14px;
}

.main-rating-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 38px;
    width: 75px;
    position: absolute;
    background: url("../img/rating-bg.png") no-repeat left;
    right: 10px;
    top: 10px;
}

.main-post__rating {
    font-size: 14px;
    font-weight: bold;
    color: rgb(158, 6, 127);
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-wrapper {
    width: 468px;
    position: relative;
}

.player__preview {
    width: 100%;
}

.player__button {
    content: "";
    width: 25%;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer ;
}

@media (min-width: 1025px) and (max-width: 1280px) {


}

@media (min-width: 768px) and (max-width: 1024px) {
    .player {
        height: initial;
        padding: 3% 1%;
    }
}

@media (min-width: 548px) and (max-width: 767px) {
    .player {
        height: initial;
        padding: 3% 1%;
    }
}

@media (min-width: 481px) and (max-width: 547px) {
    .main-rating-wrapper {
        left: 30%;
        top: 4px;
    }

    .main-content {
        width: 100%;
    }

    .main-post__content {
        max-width: 95%;
    }

    .main-post-section-wrapper, .comment-section {
        height: initial;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .main-content {
        max-width: 100%;
    }

    .main-rating-wrapper {
        left: 42%;
        top: 4px;
    }

    .main-post__content {
        max-width: 95%;
    }

    .main-post-section-wrapper, .comment-section {
        height: initial;
        margin-bottom: 10px;
    }

    .infotable {
        max-width: 60%;
    }
}