.section-wrapper_main-nav {
    background-image: url("../img/navbar-grey.png");
}

.main-nav {
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(109, 108, 108);
}

.nav-logo-bar {
    width: 50%;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
}

.nav-logo-bar__slogan {
    padding-left: 0.85rem;
}

.nav-menu {
    height: 100%;
    width: 50%;
}

.nav-menu__list {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-menu__item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
    font-weight: bold;
    border-left: 1px solid #141414;
    box-shadow: inset 1px 0px 0px 0px rgba(50,49,49,1);
}
.nav-menu__item:last-child {
    border-right: 1px solid #141414;
    box-shadow: inset 1px 0px 0px 0px rgba(50, 49, 49, 1), 1px 0px 0px 0px rgba(50,49,49,1);
}