.section-wrapper_search-bar {
    background-image: url("../img/navbar-blue.png");

}

.main-search-bar {
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    height: 52px;
    font-size: 1.15rem;
}

.search-form {
    width: 50%;
}

.account-menu {
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 3.7rem;
}

.account-menu__list {
    display: flex;
    flex-direction: row;
}

.account-menu__button:last-child::before {
    content: '|';
    padding: 1.25rem;
}

.account-menu::after {
    content: "";
    bottom: -10px;
    left: 0%;
    width: 56px;
    height: 43px;
    position: absolute;
    background-size: cover;
    background-image: url(../img/corner.png);
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.search-form__submit {
    flex-basis: 11.5%;
    background: transparent;
    border-width: 0 1px;
    border-color: rgb(16, 60, 132);
    color: inherit;
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: inset 1px 0px 0px 0px rgba(25, 82, 178,1), 1px 0px 0px 0px rgba(25, 82, 178,1);
    text-shadow: 0 -1px 8px rgba(0, 0, 0, .75);
    cursor: pointer;
    margin-right: 4%;

}

.search-form__submit:focus, .search-form_submit {
    outline: none;
    border-style: solid;
}

.search-form__input {
    flex-basis: 79%;
    height: 30px;
    padding-left: 1rem;
    border-radius: 4px;
}

.search-form__input::placeholder {
    font-size: 1rem;
    color: rgb(212, 212, 212);
}

.search-form__extended-search {
    position: absolute;
    font-size: 10px;
    top: 39px;
    left: 65%;
}

.search-form::before {
    content: "";
    bottom: -18px;
    left: 5%;
    width: 100px;
    height: 77px;
    position: absolute;
    background-size: cover;
    background-image: url(../img/corner.png);
}

.search-form::after {
    content: "";
    top: -10px;
    left: 84%;
    width: 78px;
    height: 47px;
    position: absolute;
    background-size: cover;
    background-image: url(../img/search-corner.png);
}