.section-wrapper_search-bar {
    background-image: url("../img/navbar-blue.png");
}

.main-search-bar {
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    height: 52px;
    font-size: 1.15rem;
}

.account-menu {
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 3.7rem;
    font-weight: bold;
}

.account-menu__list {
    display: flex;
    flex-direction: row;
}

.account-menu__button:last-child::before {
    content: '|';
    padding: 1.25rem;
}

.account-menu::after {
    content: "";
    bottom: -10px;
    left: 0;
    width: 56px;
    height: 43px;
    position: absolute;
    background-size: cover;
    background-image: url(../img/corner.png);
    pointer-events: none;
    z-index: 5;
}

.search-form {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.search-form__submit {
    min-width: 12.7%;
    background: transparent;
    border-width: 0 1px;
    border-style: solid;
    border-color: rgb(16, 60, 132);
    color: inherit;
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: inset 1px 0px 0px 0px rgba(25, 82, 178,1), 1px 0px 0px 0px rgba(25, 82, 178,1);
    text-shadow: 0 -1px 8px rgba(0, 0, 0, .75);
    cursor: pointer;

}

.s-submit-button-text {
    display: none;
}
.search-form__submit:focus, .search-form_submit {
    outline: none;
}

.search-form__input {
    flex-basis: 79%;
    height: 30px;
    padding-left: 1rem;
    border-radius: 4px;
}

.search-form__input::placeholder {
    font-size: 100%;
    color: rgb(212, 212, 212);
}

.search-form__extended-search {
    position: absolute;
    font-size: 10px;
    top: 80%;
    right: 0;
}

.search-form::before {
    content: "";
    bottom: -18px;
    left: 5%;
    width: 100px;
    height: 77px;
    position: absolute;
    background-size: cover;
    background-image: url(../img/corner.png);
    pointer-events: none;
    z-index: 5;
}

.search-form::after {
    content: "";
    top: -10px;
    right: 0;
    width: 78px;
    height: 47px;
    position: absolute;
    background-size: cover;
    background-image: url(../img/search-corner.png);
    pointer-events: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .search-form::before, .search-form::after, .search-form__extended-search {
        display: none;
    }

    .main-search-bar {
        padding: 0;
    }

    .account-menu {
        font-size: 110%;
    }

    .search-form {
        width: 60%;
    }

    .search-form__submit {
        min-width: 15%;
        order: 1;
        font-size: 110%;
    }

    .search-form__input {
        height: 75%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .search-form::before, .search-form::after, .search-form__extended-search, .submit-button-text {
        display: none;
    }

    .main-search-bar {
        padding: 0 3%;
    }

    .search-form {
        justify-content: flex-end;
    }

    .search-form__submit {
        position: absolute;
        right: 3%;
        border: none;
        box-shadow: none;
        height: 75%;
    }

    .search-form__input {
        height: 75%;
        flex-basis: 100%;
    }

    .s-submit-button-text {
        display: block;
        z-index: 1;
        width: 30px;
        height: auto;
        fill: rgb(19, 73, 156);
    }

    .account-menu__button:last-child::before {
        padding: 0.8rem;
    }
}

@media (max-width: 480px) {
    .search-form::before, .search-form::after, .search-form__extended-search, .submit-button-text, .account-menu {
        display: none;
    }

    .main-search-bar {
        padding: 0 3%;
    }

    .search-form {
        width: 100%;
    }

    .search-form__submit {
        position: absolute;
        right: 3%;
        border: none;
        box-shadow: none;
        height: 75%;
    }

    .search-form__input {
        height: 75%;
        flex-basis: 100%;
    }

    .s-submit-button-text {
        display: block;
        z-index: 1;
        width: 30px;
        height: auto;
        fill: rgb(19, 73, 156);
    }
}
