.slider {
    padding-top: 20px;
    color: rgb(255, 255, 255);
}

.page-container_slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.section-wrapper_slider {
    position: relative;
    background-image: url("../img/carousel1.jpg"), url("../img/bg-darker.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    height: 288px;
    border-top: 1px solid rgba(160, 160, 160, 0.7);
    border-bottom: 1px solid rgba(160, 160, 160, 0.7);

}

.section-wrapper_slider::after {
    content: "";
    left: 15%;
    bottom: -8px;
    width: 150px;
    height: 48px;
    position: absolute;
    background-size: cover;
    background-image: url(../img/corner-2.png);
    pointer-events: none;
}

.slider__header {
    font-size: 19px;
    font-weight: bold;
    color: rgba(252, 252, 252, .5);
    text-shadow: -1px -1px 0px rgb(88, 88, 88);
    padding-left: 20.7%;
}

.slider__button {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(210, 210, 210);
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.25);
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: rgb(238, 238, 238) url("../img/arrow-left.png") no-repeat center;
}

.slider__button_right {
    transform: rotate(180deg);
}

.slider__button:hover {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.75);
}

.slider-content-container {
    max-width: 310px;
    position: relative;
    left: 29%;
    background-color: transparent;
}

.slider__description {
    position: relative;
    padding: 4px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .89);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 5px;
}

.slider-content-container::after {
    content: "";
    top: -10px;
    left: 81%;
    width: 56px;
    height: 42px;
    position: absolute;
    background-size: cover;
    background-image: url(../img/corner.png);
    pointer-events: none;
    transform: rotate(180deg);
    z-index: 100;
}

.slider__description::before {
    transform: rotate(90deg);
    content: "";
    top: 50%;
    left: -19px;
    width: 65px;
    height: 48px;
    position: absolute;
    background-size: cover;
    background-image: url(../img/corner.png);
    pointer-events: none;
    z-index: 100;
}

.slider__movie-name-rus {
    font-size: 16px;
    font-weight: bold;
}

.slider__movie-name-eng {
    font-size: 12px;
}

.calendar {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.calendar__date {
    padding-left: 4px;
    letter-spacing: 9px;
    width: 84px;
    height: 60px;
    line-height: 57px;
    color: rgb(0, 0, 0);
    font-size: 60px;
    background-image: url("../img/calendar-background.png");
    text-align: center;
}

.calendar__month {
    font-size: 14px;
    font-weight: bold;
}

.slider__preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider__toggle {
    flex-basis: 30%;
    height: 44px;
    border: 1px solid rgb(204, 204, 204);
    cursor: pointer;
}

.slider__toggle_madagascar {
    background-image: url("../img/madagascar-preview-1.png");
    background-repeat: no-repeat;
}

.slider__toggle_spiderman {
    background-image: url("../img/superman-preview-1.png");
    background-repeat: no-repeat;
}

.slider__toggle_dictator {
    background-image: url("../img/third-preview-1.png");
    background-repeat: no-repeat;
}

.slider-rating-wrapper {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-left: 10%;
}

.slider-rating-mark {
    padding-left: 5px;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .slider-content-container {
        left: 19%;
    }

    .slider__button {
        width: 45px;
        height: 45px;
        background-size: 35%;
    }

    .section-wrapper_slider::after {
        left: 10%;
    }

    .slider__header {
        font-size: 24px;
    }

    .page-container_slider {
        padding: 0 5%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .slider-content-container {
        position: static;
    }

    .slider__button {
        width: 45px;
        height: 45px;
        background-size: 35%;
    }

    .section-wrapper_slider::after {
        left: 3%;
    }

    .slider__header {
        font-size: 24px;
    }

    .page-container_slider {
        padding: 0 5%;
    }

    .slider__description {
        background-color: rgba(0, 0, 0, 0.7);
    }

}


@media (max-width: 480px) {
    .section-wrapper_slider::after, .slider__description {
        display: none;
    }

    .slider-content-container {
        position: static;
        width: 80%;
    }

    .section-wrapper_slider {
        height: 165px;
        background-size: cover;
    }

    .slider__header {
        padding-left: 5%;
    }

    .slider__button {
        box-shadow: none;
    }

    .page-container_slider {
        padding: 2% 1%;
        align-items: flex-end;
    }

}