@import "main-nav.css";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 12px;
	font-family: Tahoma;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}

ul, ol {
	list-style: none;
}

.section-wrapper {
	width: 100%;
}

.page-container {
	max-width: 1000px;
	margin: 0 auto;
}






.logo {
	width: 80px;
}

.background {
	width: 100%;
}

.header__background {
	background-color: #252525;
}


.header__tagline {
	font-size: 10px;
	font-family: Tahoma;
	font-weight: bold;
	color: #5d5c5c;
	padding-left: 12px;
}


.header__button {
	display: block;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	padding: 15px 10px;
	color: #5d5c5c;
	text-decoration: none;
	border-left: 1px solid #141414;
	cursor: pointer;
	-webkit-box-shadow: inset 1px 0px 0px 0px rgba(50,49,49,1);
	-moz-box-shadow: inset 1px 0px 0px 0px rgba(50,49,49,1);
	box-shadow: inset 1px 0px 0px 0px rgba(50,49,49,1);
}

.menu:last-child {
	border-right: 1px solid #141414;
	-webkit-box-shadow: 1px 0px 0px 0px rgba(50,49,49,1);
	-moz-box-shadow: 1px 0px 0px 0px rgba(50,49,49,1);
	box-shadow: 1px 0px 0px 0px rgba(50,49,49,1);
}

a:hover {
	text-decoration: none;
}

.navigation-menu__background {
	background-color: #174ca3;
}

.navigation-menu {
	position: relative;
}

.corner::before {
	bottom: 0;
	left: 0;
	content: "";
	height: 30px;
	background-size: cover;
	position: absolute;
	background-image: url(../img/corner.png);
}

.corner {
	position: relative;
}

.navigation-menu__button {
	margin-left: 25px;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 15px;
}

.navigation-menu__button--signup, .navigation-menu__button--login {
	color: #ffffff;
	padding: 20px 8px;

}

.navigation-menu a {
	color: #fff;
}
.navigation-menu__button:hover {
	color: #000;
	cursor: pointer;
}













