.suggested-movie {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 75%;
}

.suggested-movie::before {
    content: "";
    top: -25px;
    left: -50px;
    width: 52px;
    height: 343px;
    position: absolute;
    background-image: url(../img/decor1.png);
    background-size: cover;
    pointer-events: none;
}

.suggested-movie__container {
    display: flex;
    flex-direction: column;
    max-width: 29%;
}

.suggested-movie__header-container {
    height: 30px;
}

.movie-poster-wrapper::before {
    content: "";
    bottom: -7px;
    left: 6px;
    width: 42px;
    height: 32px;
    position: absolute;
    background-image: url(../img/corner.png);
    background-size: cover;
    pointer-events: none;
    z-index: 100;
}

.movie-poster-wrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie-poster {
    z-index: 1;
    width: 100%;
}

.movie-poster-wrapper::after {
    content: '';
    position: absolute;
    background-image: url("../img/bg-darker.png");
    background-repeat: repeat;
    background-position: center;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
}

.poster-shadow {
    height: 28px;
    width: 100%;
    background: url("../img/shadow.png") no-repeat center;
    background-size: 100%;
}
.suggested-movie__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 11px;
    min-height: 85px;
}

.watch-now-button {
    display: inline-block;
    font-weight: bold;
    padding: 6px;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
    border-radius: 3px;
    box-shadow: 0 2px 0 0 rgb(107, 107, 107);
}

.suggestions-wrapper {
    display: flex;
    margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .suggested-movie::before {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .suggested-movie::before {
        display: none;
    }

    .suggested-movie, .main-content {
        max-width: 100%;
    }

    .main-post-section-wrapper {
        height: initial;
    }
}

@media (max-width: 480px) {
    .suggested-movie::before, .suggested-movie__plot {
        display: none;
    }

    .suggested-movie {
        max-width: 100%;
        margin-top: 10px;
    }

    .main-post-section-wrapper {
        height: initial;
    }

    .suggested-movie__description {
        min-height: initial;
        text-align: center;
    }
}